<app-header></app-header>
<section class="title-section">
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <div>
    <img
      src="/assets/0b6b3603cd188b798b82839d2fb7d554467be685e5ec58c929037159.webp"
    />
    <h3>XƯỞNG ĐÚC GANG COMPOSITE THÁI NGUYÊN</h3>
    <h4>Uy tín - chất lượng - cạnh tranh</h4>
  </div>
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
</section>
<section>
  <h3>Tại sao chọn chúng tôi</h3>
  <div class="about-us-container">
    <div>
      <div class="icon-div icon-monitor-with-pen"></div><h4>THƯƠNG HIỆU UY TÍN TOÀN QUỐC</h4>
      <p>- Xưởng đúc gang - composite <b>UY TÍN</b> chuyên nghiệp với các thiết bị tiên tiến, hiện đại nhất. Cam kết đảm bảo được tiến độ giao thiết bị cho khách hàng đúng thời gian và địa điểm</p>
    </div>
    <div>
      <div class="icon-div icon-hand-star"></div><h4>GIÁ CẢ LUÔN CẠNH TRANH</h4>
      <p>- <b>GIÁ CẢ PHẢI CHĂNG</b> cũng là một lợi thế lớn để chúng tôi giữ chân được với các đối tác cũ cũng như tìm kiếm thêm nhiều khách hàng mới, hướng tới mục tiêu phát triển lâu dài.</p>
    </div>
    <div>
      <div class="icon-div icon-thumb-up-star"></div><h4>SẢN PHẨM ĐẠT CHUẨN CHẤT LƯỢNG</h4>
      <p>- Chúng tôi đảm bảo về <b>CHẤT LƯỢNG</b>, đạt tiêu chuẩn ISO 2015 và chứng nhận BS EN 124 / 1994.</p>
    </div>
    <div>
      <div class="icon-div icon-hand-holding-gear"></div><h4>DỊCH VỤ LÀ MỤC TIÊU HÀNG ĐẦU</h4>
      <p>- Với kinh nghiệm lâu năm của đội ngũ Kỹ sư và Công nhân viên Công ty, chúng tôi sẵn sàng đem đến cho Quý Khách hàng một <b>DỊCH VỤ</b> trọn gói cả về tư vấn, thiết kế mẫu mã sản phẩm.</p>
    </div>
  </div>
</section>
<section>
  <h3>
    Xưởng đúc theo yêu cầu
  </h3>
</section>
<app-footer></app-footer>
