<app-header></app-header>
<section class="title-section">
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <div>
    <img
      src="/assets/0b6b3603cd188b798b82839d2fb7d554467be685e5ec58c929037159.webp"
    />
    <h3>XƯỞNG ĐÚC GANG COMPOSITE THÁI NGUYÊN</h3>
    <h4>Uy tín - chất lượng - cạnh tranh</h4>
  </div>
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
  <img
    src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg"
    class="side-image"
  />
</section>
<section>
  <h3>Tại sao chọn chúng tôi</h3>
  <div class="header-underline-image"></div>
  <div class="about-us-container">
    <div>
      <div class="icon-div icon-monitor-with-pen"></div>
      <h4>THƯƠNG HIỆU UY TÍN TOÀN QUỐC</h4>
      <p>
        - Xưởng đúc gang - composite <b>UY TÍN</b> chuyên nghiệp với các thiết
        bị tiên tiến, hiện đại nhất. Cam kết đảm bảo được tiến độ giao thiết bị
        cho khách hàng đúng thời gian và địa điểm
      </p>
    </div>
    <div>
      <div class="icon-div icon-hand-star"></div>
      <h4>GIÁ CẢ LUÔN CẠNH TRANH</h4>
      <p>
        - <b>GIÁ CẢ PHẢI CHĂNG</b> cũng là một lợi thế lớn để chúng tôi giữ chân
        được với các đối tác cũ cũng như tìm kiếm thêm nhiều khách hàng mới,
        hướng tới mục tiêu phát triển lâu dài.
      </p>
    </div>
    <div>
      <div class="icon-div icon-thumb-up-star"></div>
      <h4>SẢN PHẨM ĐẠT CHUẨN CHẤT LƯỢNG</h4>
      <p>
        - Chúng tôi đảm bảo về <b>CHẤT LƯỢNG</b>, đạt tiêu chuẩn ISO 2015 và
        chứng nhận BS EN 124 / 1994.
      </p>
    </div>
    <div>
      <div class="icon-div icon-hand-holding-gear"></div>
      <h4>DỊCH VỤ LÀ MỤC TIÊU HÀNG ĐẦU</h4>
      <p>
        - Với kinh nghiệm lâu năm của đội ngũ Kỹ sư và Công nhân viên Công ty,
        chúng tôi sẵn sàng đem đến cho Quý Khách hàng một <b>DỊCH VỤ</b> trọn
        gói cả về tư vấn, thiết kế mẫu mã sản phẩm.
      </p>
    </div>
  </div>
</section>
<section>
  <h3>Xưởng đúc theo yêu cầu</h3>
  <div class="header-underline-image"></div>
  <p class="product-introduction-text">Hiện nay chúng tôi đang cung cấp và sản xuất, lắp đặt kinh doanh các lĩnh vực sau: Nắp hố ga, Nắp bể cáp, Song chắn rác, Tấm sàn Grating...</p>
  <div class="product-container">
    <div *ngFor="let item of products" class="product-item">
      <img [src]="item.image[0]">
      <h4>{{item.name}}</h4>
      <h5>Chất liệu</h5>
      <p>{{item.materials}}</p>
      <h5>Tải trọng</h5>
      <p>{{item.load}}</p>
      <h5>Kích thước</h5>
      <p>{{item.size}}</p>
    </div>
  </div>
</section>
<section class="certificate-section">
  <h3>Giấy chứng nhận</h3>
  <div class="header-underline-image"></div>
  <div>
    <img src="/assets/product/certificate1.webp">
    <img src="/assets/product/certificate2.webp">
    <img src="/assets/product/certificate3.webp">
  </div>
</section>
<section class="production-section">
  <h3>Hình ảnh gia công</h3>
  <div class="header-underline-image"></div>
  <div class="production-section-content">
    <img src="/assets/06d2fac7569d00a9c969baba912fbfd6efddeb0287b73e66fa1464af.webp">
    <img src="/assets/6ca9cd01a5c421087dbac193ea4579a1a1bfc7b91dfd3a6b1a5c9078.webp">
    <img src="/assets/9b144cfbcd1f0c0f77e9512da91daee0658b076c5eb30dbd8201b09e.webp">
    <img src="/assets/24c4c37555c306cf844b2f3ffb4c6d5d58d162aaf1d03f4ab47f342c.webp">
    <img src="/assets/ce91d82fb0abe62e197c0bc0625de00801c59953476c3cd585429c80.webp">
    <img src="/assets/z3871727984193_f09ac66cc130ca1e17cac5dd60936e77.jpg">
    <img src="/assets/z3871730215495_7f30a1c36bc52618fda1121cfda982c1.jpg">
    <img src="/assets/z3871731283958_e77a03c00ff2733e303768ae38f86c9a.jpg">
  </div>
 

</section>

